<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
    <span th:text="List of cargoes"></span>
</p>

<div th:if="${ not#lists.isEmpty(cargos)}">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cargo : ${cargos}">
            <td th:text="${cargo.name}">&nbsp;</td>
            <td th:text="${cargo.type}">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>